<div class="container" id="wrap">
  <div class="page-header">
    <h1>帥哥倉庫管理</h1>
  </div>
  <div class="header lead" id="wait">待出貨</div>
  <table class="table table-hover">
  	<tr class="table_header">
  		<td style="width:10%">圖號</td>
  		<td style="width:10%">數量</td>
  		<td style="width:10%">期限</td>
  		<td style="width:70%"></td>
  	</tr>
  	<tr class="table_content">
  		<td>132592859869</td>
  		<td>20</td>
  		<td><p style="color:red; font-weight:bold">3</p></td><td><button class="btn btn-default">開始包裝</button> <button class="btn btn-warning">回報問題</button></td>
  	</tr>
  </table>
  
  <p class="lead" id="doing">包裝中</p>
  <div class="table-responsive">
      <table class="table table-hover">
      	<tr class="table_header">
      		<td style="width:10%">圖號</td>
      		<td style="width:8%">位置</td>   		   
      		<td style="width:9%">負責人</td>
      		<td style="width:10%">開始於</td>
      		<td style="width:10%">最後更新</td>
      		<td style="width:25%">狀況</td>
      		<td></td>
      	</tr>
      	
      	<tr class="table_content">
      		<td>1325928<p id="enhanced_text">59869</p></td>
      		<td id="enhanced_text">A箱</td>
      		<td>
      			<select class="form-control">
				  <option>文清</option>
				  <option>阿輝</option>
				  <option>丁丁</option>
				</select></td>
      		<td><p>11:20</p><p>12.13.2014</p></td>
      		<td><p>14:20</p><p>12.13.2014</p></td>
      		<td><textarea class="form-control" rows="3"></textarea></td>
      		<td><button class="btn btn-success">包裝完成</button> <button class="btn btn-warning">回報問題</button></td>
      	</tr>
      	<tr class="table_content">
      		<td>1325928<p id="enhanced_text">59869</p></td>
      		<td id="enhanced_text">B箱</td>
      		<td>
      			<select class="form-control">
          <option>文清</option>
          <option>阿輝</option>
          <option>丁丁</option>
				</select></td>
      		<td><p>11:20</p><p>12.13.2014</p></td>
      		<td><p>14:20</p><p>12.13.2014</p></td>
      		<td><textarea class="form-control" rows="3"></textarea></td>
      		<td><button class="btn btn-success">包裝完成</button> <button class="btn btn-warning">回報問題</button></td>
      	</tr>
      </table>
  </div>
   
  <p class="lead" id="finished">已包裝完成</p>
  <table class="table table-hover">
    <tr class="table_header">
      <td style="width:10%">圖號</td>
      <td style="width:10%">數量</td>
      <td style="width:10%">結束於</td>
      <td style="width:10%">位置</td>
      <td style="width:10%">負責人</td>
      <td></td>
    </tr>
    
    <tr class="table_content">
      <td>132592859869</td>
      <td>20</td>
      <td><p>16:35</p><p>12.13.2014</p></td>
      <td>B箱</td>
      <td>文清</td>
      <td><button class="btn btn-warning">回報問題</button></td>
    </tr>
    
  </table>
</div>